<div id="container">
  <!-- <strong>{{ name }}</strong> -->

  <div [style.padding]="'24px 0px'">
    <a (click)="toast()">TOAST</a>
  </div>

  <div [style.padding]="'24px 0px'" [style.display]="'flex'" [style.flex-direction]="'column'">
    <span>Status bar: {{statusBar && statusBar.isVisible ? 'Visible' : 'Hidden'}}</span>
    <a (click)="toggleStatusBar()">TOGGLE HIDE/SHOW</a>
  </div>

  <div [style.padding]="'24px 0px'" [style.display]="'flex'" [style.flex-direction]="'column'">
    <ion-input placeholder="Enter Input"></ion-input>
  </div>

  <!-- <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
</div>